[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cryptography = "==37.*"
sphinx = "==4.*"
sphinx-rtd-theme = "==1.*"
recommonmark = "==0.*"
fuzzywuzzy = "==0.*"
requests = "==2.*"
paho-mqtt = "==1.*"
protobuf = "==3.*"
python-dateutil = "==2.*"
xmltodict = "==0.*"
termcolor = "==1.*"
tabulate = "==0.*"
numpy = "==1.*"
pandas = "==1.*"
httplib2 = "==0.*"
oauth2client = "==4.*"
pyserial = "==3.*"
google-cloud = "==0.*"
pymongo = "==4.*"
scapy = "==2.*"
selenium = "==4.*"
slackclient = "==2.*"
terminaltables = "==3.*"
serial = "==0.*"
pexpect = "==4.*"
pyshark = "==0.4.3"
kazoo = "==2.*"
PyYAML = "==5.*"
pytest = "==7.1.*"
allure-pytest = "==2.*"
mock = "==4.*"
responses = "==0.*"
psutil = "==5.*"
pylint = "==2.*"
pytest-timeout = "==2.*"
psycopg2-binary = "==2.*"
XlsxWriter = "==3.*"
flake8 = "==5.*"
flake8-formatter-junit-xml = "==0.*"
boto3 = "==1.*"
awscli = "==1.*"
kafka-python = "==2.*"
pytest-rerunfailures = "==10.*"
gspread = "==5.*"
PyAthenaJDBC = "==3.*"
pytest-repeat = "==0.*"
avro-python3 = "==1.*"
python-snappy = "==0.*"
google-api-python-client = "==2.*"
google-auth-httplib2 = "==0.*"
google-auth-oauthlib = "==0.*"
sphinxcontrib-htmlhelp = "==2.*"
wrapt = "==1.*"
docutils = "==0.*"
rsa = "==4.*"
filelock = "==3.*"
pytest-xdist = "==2.*"
pubnub = "==6.*"
pyhocon = "==0.*"
statsd = "==3.*"
appium-python-client = "==2.*"
Flask_SocketIO = "==5.*"
Flask = "==2.*"
jinja2 = "==3.*"
werkzeug = "==2.*"
colored = "==1.*"
jpype1 = "==1.*"
python-i18n = "==0.*"
httpx = "==0.*"
beautifulsoup4 = "==4.*"
func-timeout = "==4.*"
imutils = "==0.*"
selenium-wire = "==4.*"
typing-extensions = "==4.*"
mitmproxy = "==8.*"
jaydebeapi = "==1.*"
pingparsing = "==1.*"
websockets = "==10.*"
pylatex = "==1.*"
itsdangerous = "==2.*"
overrides = "==6.*"
matplotlib = "==3.*"
urllib3 = "==1.*"
aiohttp = "==3.*"
asyncio = "==3.*"
# Dependencies for which the newest versions don't work on RPi
kiwisolver = "==1.3.2"
cbor2 = "==5.4.2"
# Dependencies not supported by arm
opencv-python = {version = "==4.6.0.66", platform_machine = "!= 'armv7l'"}
jira = {version = "==3.2.0", platform_machine = "!= 'armv7l'"}
pyarrow = {version = "==8.0.0", platform_machine = "!= 'armv7l'"}
deepdiff = "==5.*"
pre-commit = "==2.*"

[requires]
python_version = "3.10"
