aiofiles==23.2.1
aiohttp==3.9.0b0
allure-pytest>=2.13,<2.14
appium-python-client>=3,<4
arrow>=1,<2
asyncio>=3,<4
awscli>=1,<2
beautifulsoup4>=4,<5
boto3>=1,<2
cassandra-driver>=3,<4
cbor2>=5.6,<5.7
colored>=1,<2
columnify
cramjam~=2.8 # It's required to parse avro objects (snappy libraries)
cryptography>=38,<39
databricks-connect>=14.3,<14.4
dateparser>=1,<2
deepdiff>=5,<6
docutils>=0,<1
fastavro>=1.9,<1.10
filelock>=3,<4
func-timeout>=4,<5
google-api-python-client>=2,<3
google-auth-httplib2>=0,<1
google-auth-oauthlib>=0,<1
google-cloud>=0,<1
gspread>=5,<6
httplib2>=0,<1
httpx>=0,<1
imutils>=0,<1
itsdangerous>=2,<3
jellyfish==0.11.2
jinja2>=3,<4
jsonschema>=4.22
kafka-python>=2,<3
kazoo>=2,<3
kiwisolver>=1.4,<1.5
matplotlib>=3.8,<3.9
mergedeep>=1.3.4
mitmproxy>=9,<10
mock>=4,<5
nslookup>=1,<2
numpy>=1.26,<1.27
oauth2client>=4,<5
overrides>=7,<8
paho-mqtt>=1,<2
pandas>=2.2,<2.3
pendulum==3.0.0b1
pexpect>=4,<5
Pillow>=10,<11
pingparsing>=1,<2
pre-commit>=2,<3
protobuf>=4,<5
psutil>=5,<6
psycopg2-binary>=2,<3
pubnub>=6,<7
pyhocon>=0,<1
pymongo>=4,<5
pyshark>=0.6,<1
pysnmp<6 # Versions 6 and newer rewrite, break and then deprecate synchronous APIs
# pyasn came with modules incompatible with pysnmp
pyasn1==0.6.0
pytest-cov>=5.0,<5.1
pytest-repeat>=0,<1
pytest-timeout>=2,<3
pytest-xdist>=2,<3
pytest>=8.1,<9
python-dateutil>=2,<3
python-i18n>=0,<1
PyYAML>=6,<7
qase-pytest~=5.0
qase-python-commons~=2.0
qaseio~=3.4
requests>=2,<2.32 # Need to remain on 2.31 due to ixchariot incompatibility
responses>=0,<1
retry==0.9.2
rich-click>=1.7,<2.0
rsa>=4,<5
scapy>=2,<3
selenium-wire>=5,<6
selenium>=4,<5
serial>=0,<1
ShellyPy==0.3
simple-salesforce>=1,<2
slack-sdk>=3,<4
slackclient>=2,<3
tabulate>=0,<1
termcolor>=1,<2
terminaltables>=3,<4
typing-extensions>=4,<5
urllib3>=1,<2
validators>=0.20,<0.21
websockets>=10,<11
XlsxWriter>=3,<4
xmltodict>=0,<1
# Dependencies not supported by arm
jira; platform_machine!="armv7l"
opencv-python; platform_machine!="armv7l"
pyarrow; platform_machine!="armv7l"
yamlfix>=1,<2
yamllint>=1,<2
# Kind of dev-packages, grouped for the better future
pip>=24,<25
ruff>=0.1,<0.2
sphinx-rtd-theme>=1,<2
sphinx>=5,<6
sphinxcontrib-htmlhelp>=2,<3
sphinxcontrib-programoutput
checksumdir>=1,<2
python-dotenv>=1.0.1
sortedcontainers>=2
